.purchase{
    display: inline-block;
    margin: 52px 134px;
    padding: 8px 20px;
    text-decoration: none;
    color: red;
    background: white;
    border-radius: 5px;
    border: 1px solid red;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;
    
}

.purchase1{
    display: inline-block;
    margin: 28px 146px;
    padding: 8px 20px;
    text-decoration: none;
    color: red;
    background: white;
    border-radius: 5px;
    border: 1px solid red;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;
}

.purchase2{
    display: inline-block;
    margin-top: 62px ;
    margin-left: 140px;
    padding: 8px 20px;
    text-decoration: none;
    color: red;
    background: white;
    border-radius: 5px;
    border: 1px solid red;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;
}

.purchase3{
    display: inline-block;
    margin: 37px 132px;
    padding: 8px 20px;
    text-decoration: none;
    color: red;
    background: white;
    border-radius: 5px;
    border: 1px solid red;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;
}

.purchase:hover{
    background: #cb202d;
    color: white;
}

.purchase1:hover{
    background: #cb202d;
    color: white;
}

.purchase2:hover{
    background: #cb202d;
    color: white;
}

.purchase3:hover{
    background: #cb202d;
    color: white;
}

.price{
    text-align: center;
    margin: 0;
    font-size: 2em;
    color: black;
    padding-top: 20px;
}

.price1{
    text-align: center;
    margin: 0;
    font-size: 2em;
    color: black;
    padding-top: 102px;
}

.price2{
    text-align: center;
    margin: 0;
    font-size: 2em;
    color: black;
    padding-top: 86px;
}